<%- include('header')%>
<div class="container row p-0 mx-auto d-flex justify-centent-center align-items-center">
    <div class="col-12 p-2 mt-4 d-flex justify-centent-center align-items-center">
        <h1 class="text-center mx-auto font-weight-bold" style="color:#ff6e6c;">404 Page Not Found</h1>
    </div>
    <div class="col-12 text-center">
        <img  id="error-gif"src="/img/404_gif.gif" alt="page not found">
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
<script src="/front.js"></script>
</body>

</html>